body {
    font-family: Helvetica, Sans-serif, Arial;
    background-color: aquamarine;
}

h1, h2, h3 {
    font-family: cursive;
}

h2 {
    color: rgb(0, 173, 173)
}

header {
    padding: 30px;
    background-image: linear-gradient(to right, rgb(96, 96, 96), black);
    color: rgb(0, 173, 173)
}

header h2 {
    color: grey;
}

.navbar {
    background-image: linear-gradient(to right, rgb(96, 96, 96), black);
}

#me {
    margin-left: 400px;
    height: 300px;
    
}

.navbar-toggler {
    background-color: teal;
}

